// IMPORTS
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";

@import "partials/_base";
@import "partials/_grid";
@import "partials/_animations";
@import "partials/_typography";

@import "header";

/* -------------------------------------------------------------------------
 * And the beauty begins ...
 * ------------------------------------------------------------------------- */
body, html {
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
    color: #000;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
    background: #FFFF00;
}

::selection {
    background: #FFFF00;
}

/* -------------------------------------------------------------------------
 * TYPOGRAPHY
 * ------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, span, strong {
    &.light     { font-weight: 300 !important; }
    &.normal    { font-weight: 400 !important; }
    &.black     { font-weight: 900 !important; }
}

h1 {
    font-size: 18px;
}

p {
    margin-bottom: 10px;

    &:last-child { margin-bottom: 0; }

    &.message {
        color: #999;
        font-size: 10px;
        text-align: center;
    }
}

a {
    color: #0072B1;
    cursor: pointer;
    outline: 0;
    text-decoration: none;

    &:hover { text-decoration: underline; }
}

strong { font-weight: 700; }
em { font-style: italic; }

hr {
    border: 0;
    border-top: 1px solid #E6E6E6;
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;

    li { margin-bottom: 10px; }
}

ul {
    list-style: disc;
    margin-left: 20px;
}

.text-left      { text-align: left;     }
.text-center    { text-align: center;   }
.text-right     { text-align: right;    }
.text-justify   { text-align: justify;  }

/* -------------------------------------------------------------------------
 * LAYOUT
 * ------------------------------------------------------------------------- */
.container {
      margin-right: auto;
      margin-left: auto;

      @media (min-width: $breakpoint-sm-min) { width: 750px; }
      @media (min-width: $breakpoint-md-min) { width: 970px; }
      @media (min-width: $breakpoint-lg-min) { width: 1170px; }

    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after { clear: both; }
}

.sm-container {
    width: 400px;
}

.row {
    margin: 0;
    position: relative;

    &:before, &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.pull-left  { float: left; }
.pull-right { float: right; }

.wrapper { padding: 10px; }

.no-top-padding     { padding-top:      0 !important; }
.no-bottom-padding  { padding-bottom:   0 !important; }

.vc-container {
    display: table;
    width: 100%;

    .inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

.site {
    min-height: 100%;
    position: relative;
}

.panels {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding-left: 50px;
    position: absolute;
    width: auto;
}

.panel {
    background: #fff;
    height: 100%;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 320px;

    &.panel-2 { width: 640px; }

    &:first-child { margin-left: 5px; }
}

.heading {
    background: #eee;
    border-bottom: 2px solid #ddd;
    height: 50px;
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 50px;
    width: 100%;
    z-index: 1;

    .shortcut {
        color: #999;
        font-size: 10px;
        font-weight: 700;
        line-height: 1;
        position: absolute;
        top: 4px;
        left: 4px;
    }

    i {
        font-size: 18px;
        margin: 0 5px;
    }
}

.content {
    height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.works,
.articles {
    list-style: none;
    margin: 0;
}

.works {
    width: 100%;

    .work {
        margin-bottom: 0;

        &:last-child { border-bottom: none; }

        .info {
            border-left: 5px solid #E5E5E5;
            border-bottom: 1px solid #E5E5E5;
            position: relative;

            .name {
                font-size: 14px;
                font-weight: 700;
            }

            .tags {
                background: #EEEEEE;
                border: 1px solid #DDDDDD;
                border-radius: 4px;
                display: inline-block;
                font-size: 10px;
                padding: 1px 4px;
            }
        }

        &.work-1MMM .info       { border-left-color: #D90E5A; }
        &.work-cella .info      { border-left-color: #865D37; }
        &.work-clinico .info    { border-left-color: #CC0000; }
        &.work-cooler .info     { border-left-color: #000000; }
        &.work-flow .info       { border-left-color: #7AAAC3; }
    }
}
