//
// IMPORTS
//
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";

@import "partials/_base";
@import "partials/_grid";
@import "partials/_animations";
@import "partials/_typography";

@import "patterns/button";

@import "layouts/header";
@import "layouts/footer";
@import "layouts/sidebar";

@import "pages/portfolio";
@import "pages/resume";
@import "pages/work";

/* -------------------------------------------------------------------------
 * And the beauty begins ...
 * ------------------------------------------------------------------------- */

body {
    color: $clr-text-body;
    font-size: 12px;
    line-height: 1.6125;
    font-family: $font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* -------------------------------------------------------------------------
 * TYPOGRAPHY
 * ------------------------------------------------------------------------- */
h1, h2, h3, h4 {
    font-weight: 700;
    margin: 0;
}

h1 {
    font-size: 30px;
    line-height: 1.6125;
    margin: 40px 0 20px;
}

h2 {
    font-size: 20px;
    line-height: 1.4125;
    margin: 20px 0 10px;
}

h4 {
    margin-bottom: 0.5em;
}

p {
    line-height: 30px;
    margin-bottom: 10px;

    &.p1 {
        font-size: 1.4125em;
        line-height: 1.42857em;
        margin: 2em 0;
    }
}

a {
    color: $clr-link;
    cursor: pointer;
    outline: 0;
    text-decoration: none;

    @include transition(all ease-in-out .15s);

    &:hover {
        border-color: $clr-link !important;
        color: $clr-link--hover;
        text-decoration: underline;
    }
}

blockquote {
    border-left: 5px solid $clr-red;
    color: #333;
    line-height: 2em;
    margin: 40px 0;
    padding-left: 40px;
    position: relative;
    left: -80px;

    &:nth-child(even) {
        border-right: 5px solid $clr-red;
        border-left: 0;
        left: auto;
        right: -80px;
    }

    .p1 {
        margin-bottom: 0;
        text-align: left;
    }

    footer {
        &:before {
            content: '\2014';
            margin-right: 10px;
        }
    }
}

strong { font-weight: 700; }
em { font-style: italic; }

ul, ol {
    color: #333;
    margin: 0;
}

ul {
    &.list {
        list-style: disc;

        li {
            margin-left: 20px;
        }
    }
}

ol {
    &.list {
        list-style: decimal;

        li {
            margin-left: 20px;
        }
    }
}

.list_heading {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
}

/* -------------------------------------------------------------------------
 * LAYOUT
 * ------------------------------------------------------------------------- */
.container {
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $breakpoint-sm-min) { width: 640px; }
    @media (min-width: $breakpoint-md-min) { width: 760px; }
    @media (min-width: $breakpoint-lg-min) { width: 970px; }

    &:before,
    &:after {
        display: table;
        content: " ";
    }

    &:after { clear: both; }
}

.row {
    margin: 0;
    position: relative;

    &:before, &:after {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }
}

.pull-left  { float: left; }
.pull-right { float: right; }

.sm-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}
.md-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}
.lg-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.no-top-padding     { padding-top:      0 !important; }
.no-bottom-padding  { padding-bottom:   0 !important; }

.container-vc {
    display: table;
    height: 100%;
    width: 100%;

    .inner {
        display: table-cell;
        vertical-align: middle;
    }
}

/* -------------------------------------------------------------------------
 * SITE
 * ------------------------------------------------------------------------- */

.site {
    position: absolute;
    height: 100%;
    width: 100%;
}

.page {
    padding-top: 50px;
    position: relative;

    @media (max-width: $breakpoint-md-max) {
        padding-top: 0;
    }
}

section {
    .sub-section {
        & + .sub-section {
            border-top: 1px solid #E0E8EF;
            margin-top: 40px;
            padding-top: 40px;
        }
    }

    &.intro {
        background-color: #fff;
        padding: 120px 0;

        @media (max-width: $breakpoint-md-max) {
            padding: 0;
            display: block;
        }
    }

    &.portfolio {
        background-color: #FBFCFD;
        border-top: 1px solid #E0E8EF;
        padding: 60px 40px;

        .inner {
            margin: 0 auto;
            max-width: $page-width--max;
        }
    }

    &.social {
        background-color: #212121;
        color: #fff;

        .inner {
            margin: 0 auto;
            padding: 20px 40px;
            max-width: $page-width--max;
            text-align: center;
        }

        ul {}

        li {
            display: inline-block;
        }

        a {
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            margin: 0 15px;
            opacity: 0.6;

            &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }
    }
}

.logo--home {
    height: 200px;
    margin-bottom: 20px;
    width: 110px;

    g {
        transition: all .3s ease-out;

        @include animation(fillfade 60s infinite forwards linear);
    }
}

.page--construction {
    padding-bottom: 0;
    text-align: center;

    .inner {
        padding: 0 40px;
    }

    .message {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.4125;
        margin: 0;
    }

    .link {
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        height: 30px;
        line-height: 30px;
        opacity: .5;

        i {
            margin-right: 5px;

            @include transition(all ease-in-out .5s);
        }

        &:hover {
            font-size: 18px;
            opacity: 1;

            i {
                font-size: 16px;
                margin-right: 10px;
            }
        }
    }
}

.page--full {
    display: table;
    height: 100%;
    width: 100%;

    .inner {
        display: table-cell;
        vertical-align: middle;
    }
}

.bio {
    margin: 0 auto;
    width: 100%;

    .inner {
        margin: 0 auto;
        max-width: $page-width--max;
    }

    p {
        font-size: 40px;
        line-height: 1.2125;
    }

    @media (max-width: $breakpoint-md-max) {
        padding: 40px 0px;
    }
}