.header {
    padding: 120px 40px 10px;
    position: relative;

    .brand {
        background: {
            image: url("../img/logo-black.png");
            position: center center;
            repeat: no-repeat;
            size: 45px 84px;
        }

        display: inline-block;
        height: 84px;
        opacity: 0.25;
        width: 45px;

        @include transition(all ease-in-out .15s);

        &:hover {
            opacity: 1;
        }
    }
}
