header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    &.headroom--not-top {
        & + .sidebar {
            .navigation {
                padding-top: 50px;
            }
        }

        .banner {
            height: 50px;

            .brand {
                background-size: 15px 28px;
                height: 40px;
                left: 10px;
                margin: 5px 0;
                width: 20px;
            }
        }
    }

    .banner {
        border-bottom: 1px solid #666;
        height: 100px;
        position: relative;

        @include transition(height ease-in-out .35s);

        .brand {
            background: {
                image: url("../img/logo.png");
                position: center center;
                repeat: no-repeat;
                size: 30px 56px;
            }
            display: inline-block;
            height: 80px;
            margin: 10px 0;
            margin-left: -20px;
            position: absolute;
            top: 0;
            left: 50%;
            width: 40px;

            @include transition(all ease-in-out .35s);

            &:hover {
                background-image: url("../img/logo-red.png");
            }
        }

        .social {
            position: absolute;
            top: 0;
            right: 0;

            li {
                display: inline-block;
                padding: 0 10px;

                a {
                    color: #666;
                    font-family: $font-sans;
                    font-size: 0.75em;
                    font-weight: 700;
                    line-height: 50px;

                    &:hover {
                        color: $clr-red;
                    }
                }
            }
        }
    }
}
