header {
    background: #444444;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    z-index: 100;

    .logo {
        background-color: #E54A4B;
        background-image: url("../img/logo.png");
        background-size: 100%;
        border-radius: 2px;
        display: inline-block;
        margin: 5px;
        height: 40px;
        width: 40px;

        @include transition(background-color ease-in-out 0.15s);

        &:hover { background-color: darken(#E54A4B, 10%); }
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            a {
                color: #aaa;
                display: inline-block;
                font-size: 20px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                width: 50px;

                &:hover { color: #fff; }
            }
        }
    }
}
