@import "compass/css3";
@import "compass/reset";
@import "compass/typography";
@import "susy";

@import "partials/_base.scss";

/* -------------------------------------------
   GLOBAL
 * ---------------------------------------- */

::selection, ::-moz-selection {
  background: #000000;
  color: #fff;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

* {
  font-size: $font-size-all;
}

/* -------------------------------------------
   TYPOGRAPHY
 * ---------------------------------------- */

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1.0rem;
}

h1 {
  font-size: $font-size-h1;
  font-weight: 700;
}
h2 {
  font-size: $font-size-h2;
  font-weight: 600;
}
h3 {
  font-size: $font-size-h3;
  font-weight: 600;
}
h4 {
  font-size: $font-size-h4;
  font-weight: 600;
}
h5 {
  font-size: $font-size-h5;
  font-weight: 600;
}
h6 {
  font-size: $font-size-h6;
  font-weight: 600;
}

p {
  font-size: $font-size-all;

  &:last-child { margin-bottom: 0; }
}

.highlight {
  margin-bottom: 1.0rem;
}

a {
    color: rgba(#000000, 0.8);
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

    @include transition(all 0.1s ease-in-out);

    &:hover { color: #000000; }
}

/* -------------------------------------------
   HEADER
 * ---------------------------------------- */
body > header {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    border-bottom: 1px solid #EEE;
    position: relative;

    @include container($total-columns, $break);
  }

  .brand {
    background: url('../assets/images/logo.png') no-repeat center center;
    background-size: 50px 50px;
    display: inline-block;
    height: 50px;
    margin: 20px 0;
    vertical-align: middle;
    width: 50px;
  }
}

/* -------------------------------------------
   FOOTER
 * ---------------------------------------- */
body > footer {
  border-top: 1px solid #EFEFEF;
  margin-bottom: 1.25em;
  padding-top: 1.25em;

  @include container($total-columns, $break);

  p, a {
    display: block;
  }

  p {
    color: #777777;
  }

  .contact {
    float: left;
    margin-right: 2.0rem;

    a {
      color: #8085C1;
    }
  }
}

/* -------------------------------------------
   SIDEBAR
 * ---------------------------------------- */
.sidebar {

  ul {
    margin: 0em;

    li {
      display: block;
      margin: 0;
      text-align: center;

      a {
        font-size: 1.4rem;
        font-weight: 600;
      }

      @media (min-width: 59em){
        text-align: left;
      }
    }
  }
}

/* -------------------------------------------
   CONTENT
 * ---------------------------------------- */

// Container
.main {
    padding: 11.0rem 2.0rem 2.0rem 2.0rem;

    @include container($total-columns, $break);
}

// Layout
@include at-breakpoint($break) {
    .sidebar {
        @include span-columns(2, $break);
    }
    .content {
        $main-columns: 10;
        @include span-columns($main-columns omega, $break);
        .inner { @include span-columns(7, $main-columns) }
        .right { @include span-columns(3 omega, $main-columns) }
    }
    footer .inner {
        $main-columns: 10;
        @include span-columns($main-columns omega, $break);
        @include span-columns(2, $break);
        .social { @include span-columns(7, $main-columns) }
    }
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.list {
  font-size: $font-size-all;
  list-style-type: none;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  &:last-child {
    margin: 0;
    padding: 0;
  }

  li {
    clear: both;

    span {
      float: left;
      width: 100px;

      @include date;

      &:after {
        content: '\2014';
        margin: 0 5px;
      }
    }

    a {
      display: block;
      margin: 0 0 0 10.0rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/
article {
  header {
    margin-bottom: 1.0rem;
    padding-bottom: 1.0rem;

    h1 {
      margin-bottom: 0;
    }

    .meta {
      @include date;
    }
  }

  article {
    a { color: #8085C1; }

    pre, p code {
      background: #FAFAFA;
      border: 0.1rem solid #EEE;
      border-radius: 0.4rem;
      font-family: $font-monospace;
    }

    p {
      line-height: 2.0rem;
      code {
        padding: 0.2rem;
      }
    }
    pre {
      font-size: 1.2rem;
      padding: 1.0rem;
    }
  }
}
