.sidebar {
    background-color: #fff;
    border-right: 1px solid #000;
    height: 100%;
    opacity: 1;
    overflow: auto;
    padding-top: 50px;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 10;

    @include transition(opacity ease-in-out .15s);

    &:hover + .pusher p {
        left: 270px;
    }

    & + .pusher {
        z-index: 9;
    }

    .navigation,
    .information,
    .recent {
        margin: 0 10px;
        padding: 10px 0;
    }

    .back-to-top {
        background-color: #000;
        color: #fff;
        display: block;
        font-family: $font-sans;
        font-size: 1em;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }

    .navigation {
        border-bottom: 1px solid #ddd;

        a {
            color: #000;
            font-family: $font-sans;
            font-size: 0.75em;
            font-weight: 700;

            &.active {
                position: relative;

                &:before {
                    content: '';
                    background-color: $clr-red;
                    border-radius: 100%;
                    display: inline-block;
                    height: 5px;
                    position: absolute;
                    top: 6px;
                    right: -10px;
                    width: 5px;
                }
            }
        }
    }

    .information {
        border-bottom: 1px solid #ddd;
        font-family: $font-sans;

        p {
            font-size: 0.6em;
            line-height: 1.15em;
            margin-bottom: 0;
        }
    }

    .recent {
        li {
            & + li {
                border-top: 1px solid #eee;
            }

            a {
                display: block;
                font-family: $font-sans;
                font-size: 0.75em;
                font-weight: 700;
                line-height: 1;
                padding-top: 5px;
                padding-bottom: 20px;

                &:hover {
                    color: $clr-red;
                }
            }

            p {
                font-weight: 400;
                font-size: 0.8em;
            }
        }
    }
}