<div class="text wrapper text-justify">
    <p class="p1 text-center">Hello, my name is Karel Vuong.</p>

    <p>Design and development is the name of the game. I earn my bread primarily with HTML, CSS, and JavaScript development but I will happily play around with any language on any end of the stack.</p>

    <p>Professionally, I am currently working in Waterloo with <a href="http://twitter.com/BlackBerry" target="_blank">BlackBerry</a> as an Applications Developer. I serve as the Director of Digital Content for the non-profit <a href="http://twitter.com/1MMMTO" target="_blank">1 Million Music Moments</a> and provide consulting services at <a href="http://twitter.com/innovitas" target="_blank">Innovitas</a>.</p>

    <p>I am a candidate for a Bachelor of Science, Computer Science at the <a href="http://twitter.com/UofT" target="_blank">University of Toronto</a> and am in my third year of studies.</p>

    <h2>My Interests</h2>

    <p>I am fascinated with the concept of openness. This speaks to several open movements, but more specifically, open data and open source initiatives. With regards to open data, over my short lifetime, I have already seen a shift on multiple fronts. At the government level, open data increases both transparency and accountability. Even more exciting is the enabling of third parties to leverage this data to develop applications and services that can now address public and private demands.</p>

    <p>I am also captivated by wearable technology. It was said by <a href="http://www.forbes.com/sites/ewanspence/2013/11/02/2014-will-be-the-year-of-wearable-technology/" target="_blank">Forbes</a> that 2014 will be the year of wearable tech. I look forward to the day where I will be able to fully quantify every aspect of my life. Statistics galore!</p>

    <div class="references">
        <h4>Links</h4>

        <ul class="list">
            <li>
                GitHub:
                <a href="http://github.com/karelvuong">http://github.com/karelvuong</a>
            </li>
            <li>
                LinkedIn:
                <a href="http://linkedin.com/in/karelvuong">http://linkedin.com/in/karelvuong</a>
            </li>
            <li>
                Twitter:
                <a href="http://twitter.com/karelvuong">http://twitter.com/karelvuong</a>
            </li>
        </ul>
    </div>
</div>