<div class="container">
    <div class="works sm-padding text-center">
        <div class="inner">
            <ul class="filters text-left">
                <li><a class="filter active filter-all" data-filter="*">All</a></li>
                <li><a class="filter filter-design" data-filter="design">Design</a></li>
                <li><a class="filter filter-app" data-filter="app">App</a></li>
                <li><a class="filter filter-mobile" data-filter="mobile">Mobile</a></li>
                <li><a class="filter filter-web" data-filter="web">Web</a></li>
            </ul>

            <a class="work active work-cella work-design work-mobile"></a>
            <a class="work active work-bb-flow work-design work-web work-app"></a>
            <a class="work active work-cooler work-design work-mobile work-app"></a>
            <a class="work active work-clinico work-design work-mobile"></a>
            <a class="work active work-tabby work-design work-mobile work-app"></a>
            <a class="work active work-orbit-light work-app work-design"></a>
        </div>
    </div>
</div>

<footer class="sm-padding text-center">
    <h1>kv.</h1>
</footer>

<script type="text/javascript">
    $('.filter').click(function() {
        $('.filter').removeClass('active');
        $(this).addClass('active');

        var f = $(this).data('filter');

        if (f == '*') $('.work').addClass('active');
        else {
            $('.work').removeClass('active')
            var w = '.work.work-' + f;
            $(w).addClass('active');
        }
    });
</script>
