@import "compass/css3";
@import "compass/reset";
@import "compass/typography";
@import "susy";

@import "partials/_base";

@import "syntax";

/* -------------------------------------------
   GLOBAL
 * ---------------------------------------- */

::selection, ::-moz-selection {
  background: #000000;
  color: #fff;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

* {
  font-size: $font-size-all;
}

/* -------------------------------------------
   TYPOGRAPHY
 * ---------------------------------------- */

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-bottom: 1.0rem;
}

h1 {
  font-size: $font-size-h1;
  font-weight: 700;
}
h2 {
  font-size: $font-size-h2;
  font-weight: 600;
  margin-top: 2.0rem;
}
h3 {
  font-size: $font-size-h3;
  font-weight: 600;
}
h4 {
  font-size: $font-size-h4;
  font-weight: 600;
}
h5 {
  font-size: $font-size-h5;
  font-weight: 600;
}
h6 {
  font-size: $font-size-h6;
  font-weight: 600;
}

p {
  font-size: $font-size-all;

  &:last-child { margin-bottom: 0; }
}

.highlight {
  margin-bottom: 1.0rem;
}

a {
  color: rgba(#000000, 0.8);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

  @include transition(all 0.1s ease-in-out);

  &:hover { color: #000000; }
}

/* -------------------------------------------
   LISTS
 * ---------------------------------------- */
ul, ol {
  font-size: 1.2rem;
  margin-left: 2rem;
}
ul { list-style-type: disc; }
ol { list-style-type: decimal; }

/* -------------------------------------------
   CONTENT
 * ---------------------------------------- */

// Container
.main {
    padding: 11.0rem 2.0rem 2.0rem 2.0rem;

    @include container($total-columns, $break);
}

// Layout
@include at-breakpoint($break) {
  .sidebar {
    @include span-columns(2, $break);
  }
  .content {
    $main-columns: 10;
    @include span-columns($main-columns omega, $break);
    .inner { @include span-columns(10, $main-columns) }
  }
  footer .inner {
    $main-columns: 10;
    @include span-columns($main-columns omega, $break);
    @include span-columns(2, $break);
    .social { @include span-columns(8, $main-columns) }
  }
}

/* -------------------------------------------
   HEADER
 * ---------------------------------------- */
body > header {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    border-bottom: 1px solid #EEEEEE;
    position: relative;

    @include container($total-columns, $break);
  }

  .brand {
    background: url('../images/logo.png') no-repeat center center;
    background-size: 5.0rem 5.0rem;
    display: inline-block;
    height: 5.0rem;
    margin: 2.0rem 0;
    vertical-align: middle;
    width: 5.0rem;
  }
}

/* -------------------------------------------
   SIDEBAR
 * ---------------------------------------- */
.sidebar {
  ul {
    border-bottom: 1px solid #EEEEEE;
    margin-left: 0;
    margin-bottom: 2.0rem;
    padding-bottom: 2.0rem;
    text-align: left;

    li {
      display: inline-block;
      margin-right: 2.0rem;

      a {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
  }

  @include at-breakpoint($break) {
    ul {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;

      li {
        display: block;
        margin-right: 0;
      }
    }
  }
}

/* -------------------------------------------
   FOOTER
 * ---------------------------------------- */
body > footer {
  border-top: 1px solid #EFEFEF;
  margin-bottom: 8.0rem;
  padding-top: 2.0rem;

  @include container($total-columns, $break);

  p, a {
    display: block;
  }

  p {
    color: #777777;
    float: left;
    margin-right: 2.0rem;
  }

  .name {
    font-weight: 600;
  }

  a {
    color: #8085C1;
  }
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.list {
  font-size: $font-size-all;
  list-style-type: none;
  margin-bottom: 1rem;
  margin-left: 0;
  padding-bottom: 1rem;

  &:last-child {
    margin: 0;
    padding: 0;
  }

  li {
    clear: both;

    span {
      float: left;
      width: 100px;

      @include date;

      &:after {
        content: '\2014';
        margin: 0 5px;
      }
    }

    a {
      display: block;
      margin: 0 0 0 10.0rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/
article {
  header {
    margin-bottom: 1.0rem;
    padding-bottom: 1.0rem;

    h1 {
      margin-bottom: 0;
    }

    .meta {
      @include date;
    }
  }

  article {
    a { color: #8085C1; }

    blockquote {
      border-left: 4px solid #DDDDDD;
      font-family: 'PT Serif', Georgia, serif;
      padding-left: 1.0rem;

      p {
        font-size: 1.5rem;
        line-height: 3.0rem;
      }
    }

    // Inline Code + Code Snippet
    pre, p code {
      background: #FAFAFA;
      border: 0.1rem solid #DDDDDD;
      border-radius: 0.4rem;
      font-family: $font-monospace;
    }

    p {
      line-height: 2.0rem;

      // Inline Code
      code {
        padding: 0.2rem;
      }
    }

    // Code Snippet
    pre {
      font-size: 1.2rem;
      padding: 1.0rem;
    }
  }
}
