button {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font: {
    family: "Open Sans";
    size: 16px;
    weight: 700;
  }
  margin-top: 20px;
  padding: 10px 14px;
  border-radius: 4px;

  i {
    margin-right: 8px;
  }

  &:hover {
    background-color: #000;
    color: #fff;
  }
}