button {
  background-color: #F8F9F9;
  border: 1px solid #E0E8EF;
  color: #232A2E;
  cursor: pointer;
  font: {
    family: "Open Sans";
    size: 12px;
    weight: 700;
  }
  margin-top: 20px;
  padding: 10px 14px;
  border-radius: 4px;

  i {
    margin-right: 8px;
  }

  &:hover {
    background-color: #232A2E;
    border-color: #232A2E;
    color: #fff;
  }
}