/* -------------------------------------------
 * VARIABLES
 * ---------------------------------------- */
$bg-gray: #F2F2F2;

$font-helvetica: "Helvetica-Neue", Helvetica, Arial, sans-serif;
$font-size-h1: 2.0rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.4rem;
$font-size-p: 1.2rem;

$line-height: 1.2rem;

// Susy
$total-columns  : 7;
$column-width   : 6.0rem;
$gutter-width   : 1.0rem;
$grid-padding   : $gutter-width;

$break          : 12;

/* -------------------------------------------
 * MIXINS
 * ---------------------------------------- */
@mixin monospace {
  font:
  {
    family: Monaco, "Courier New", monospace;
  }
}

@mixin date {
  color: #aaa;
  text-transform: uppercase;

  @include monospace();
}

@mixin transform-origins($top, $left){
    -webkit-transform-origin: $top $left;
    -moz-transform-origin: $top $left;
    -ms-transform-origin: $top $left;
    -o-transform-origin: $top $left;
    transform-origin: $top $left;
}