<div class="page page--w page--w--flow">



    <div class="section section--cover bg--primary">
        <div class="inner">
            <h1>Flow</h1>
            <h2>BlackBerry</h2>
        </div>
    </div>

    <div class="section section--headline">
        <div class="inner">
            <p class="headline_text--primary">
                A corporate solution that offers a collaborative, data-sharing environment, business process management and modelling (BPM) capabilities, and management of complex data, processes, and workflows.
            </p>
        </div>
    </div>

    <div class="section section--image">
        <div class="inner">
            <h1>Image #1</h1>
        </div>
    </div>

    <div class="section section--text">
        <div class="inner">
            <p>Cater has been around since BlackBerry's humble beginnings with 10 years of development before finally launching in 2001. And what began as a small project has grown into something much, much bigger.</p>

            <p>The platform was conceived to address BlackBerry's need for a business process management and modelling platform &mdash; a place where processes and workflows could be designed to allow data to be <em>intelligently stored, securely accessed, and easily audited</em>. A place where workflows could be analyzed to <em>eliminate inefficiencies</em>, and where reports and dashboards could be created to <em>identify trends and measure performance</em>.</p>

            <p>The platform is a corporate solution that was developed in-house and provides a <em>zero cost data management and reporting tool</em> to the employees of BlackBerry.</p>
        </div>
    </div>
</div>