$resume-section-padding: 60px;
$resume-sub-section-padding: 20px;

.page--resume {}

.resume_column {
    padding: 0;

    @media (max-width: $breakpoint-md-max) {
        margin-top: $resume-section-padding;
    }
}

.resume_section {
    border: 1px solid transparent;
    padding: 40px;

    @include transition(all ease-in-out .1s);

    &:hover {
        background-color: #fcfcfc;
        border-color: #f0f0f0;
    }

    & + & {
        margin-top: $resume-section-padding;
    }

    .resume_section_title {
        color: $clr-red;
        font-size: 14px;
        letter-spacing: 4px;
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;

        i {
            margin-right: 5px;
        }

        @media (max-width: $breakpoint-md-max){
            float: none;
            margin-bottom: 0;
        }
    }

    .resume_section_actions {
        @media (max-width: $breakpoint-md-max){
            float: none;
            margin-bottom: 20px;
        }

        i {
            margin-right: 10px;
        }

        a {
            color: #aaa;
            font-size: 12px;

            &:hover { color: #000; }

            &.active {
                color: #000;

                i {
                    color: $clr-red;
                }
            }
        }
    }
}

.resume_sub-section {
    & + & {
        margin-top: $resume-sub-section-padding;
    }
}

.resume_download {
    color: #bbb;
    font-size: 43px;
    line-height: 1;

    &:hover {
        color: #555;
    }
}

.resume_item {
    p {
        margin-bottom: 0;
    }

    .primary,
    .secondary {
        font-weight: 700;
        line-height: 1.5;
    }

    .primary {
        display: block;
        font-size: 14px;

        span {
            font-weight: 400;
        }
    }

    .secondary {}

    a {
        color: #777;
    }

    .date {
        .duration {
            color: #aaa;
        }
    }

    .details {
        & + .details {
            margin-top: 5px;
        }

        p, li {
            color: #777;
        }

        p {
            line-height: 20px;
        }

        a {
            text-decoration: underline;
        }

        .list--sub {
            margin-bottom: 5px;
        }
    }

    .note {
        color: #aaa;
    }

    .tags {
        font-size: 11px;
        margin: 5px 20px 0;

        li {
            background-color: #f6f6f6;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: inline-block;
            padding: 0 5px;

            & + li {
                margin-left: 5px;
            }
        }
    }

    & + & {
        margin-top: 40px;
    }
}

@media print {
    .page--resume {
        header {
            padding: 0 40px;
        }

        .bio {
            margin-bottom: 0;
        }

        .links,
        .resume_section_actions,
        .tags {
            display: none;
        }

        .resume_section {
            & + .resume_section {
                margin-top: 0;
            }
        }

        .resume_sub-section {
            & + .resume_sub-section {
                margin-top: 0;
            }
        }
    }
}