$resume-section-padding: 60px;
$resume-sub-section-padding: 20px;

.page--resume {}

.resume_header {
    padding: 80px 40px;
    text-align: center;

    .heading_text--primary,
    .heading_text--secondary {
        line-height: 1;
    }

    .heading_text--primary {
        font-size: 40px;
        font-weight: 700;
    }

    .heading_text--secondary {
        font-size: 16px;
    }

    @media (max-width: $breakpoint-md-max){
        text-align: left;
    }
}

.resume {
    background-color: #fff;
    margin: 0 auto;
    padding-bottom: 120px;
    max-width: $page-width--max;
}

.resume_column {
    padding: 0;

    @media (max-width: $breakpoint-md-max){
        & + & {
        border-top: 1px solid #efefef;
            margin-top: 60px;
            padding-top: 60px;
        }
    }
}

.resume_section {
    margin: 0 40px;

    @include transition(all ease-in-out .1s);

    & + & {
        border-top: 1px solid #efefef;
        margin-top: 60px;
        padding-top: 60px;
    }

    .resume_section_title {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 20px;

        i {
            margin-right: 10px;
        }

        @media (max-width: $breakpoint-md-max){
            float: none;
        }
    }

    .resume_section_actions {
        @media (max-width: $breakpoint-md-max){
            float: none;
            margin-bottom: 20px;
        }

        a {
            color: #ABB4B9;
            font-size: 12px;
            line-height: 30px;

            i {
                margin-right: 5px;
            }

            &.active {
                color: #232A2E;

                i {
                    color: $clr-link;
                }
            }

            &:hover {
                color: #44525A;
                text-decoration: none;
            }
        }
    }
}

.resume_sub-section {
    & + & {
        margin-top: $resume-sub-section-padding;
    }
}

.resume_download {
    color: #bbb;
    font-size: 43px;
    line-height: 1;

    &:hover {
        color: #555;
    }
}

.resume_item {
    & + & {
        margin-top: 40px;
    }

    p {
        margin-bottom: 0;
    }

    .primary,
    .secondary {
        font-weight: 700;
        line-height: 1.5;
    }

    .primary {
        display: block;
        font-size: 14px;

        i {
            margin-left: 5px;
        }

        span {
            font-weight: 400;
        }
    }

    .secondary {}

    a {
        color: $clr-link;
    }

    .date {
        .duration {
            color: #ABB4B9;
        }
    }

    .details {
        & + .details {
            margin-top: 5px;
        }

        p, li {
            color: #8B959E;
        }

        p {
            line-height: 20px;
        }

        a {}

        .list--sub {
            margin-bottom: 5px;
        }
    }

    .note {
        color: #aaa;
    }

    .tags {
        font-size: 11px;
        margin: 5px 20px 0;

        li {
            background: #fff9ea;
            border: 1px solid rgba(#ffba00, 0.2);
            color: #967313;
            border-radius: 4px;
            display: inline-block;
            padding: 0 5px;

            & + li {
                margin-left: 5px;
            }
        }
    }
}

@media print {
    .page--resume {
        header {
            padding: 0 40px;
        }

        .bio {
            margin-bottom: 0;
        }

        .links,
        .resume_section_actions,
        .tags {
            display: none;
        }

        .resume_section {
            & + .resume_section {
                margin-top: 0;
            }
        }

        .resume_sub-section {
            & + .resume_sub-section {
                margin-top: 0;
            }
        }
    }
}