.page--work {
    padding-bottom: 80px;

    &--flow {
        .accent-clr--primary {
            color: #1C6A96;
        }
    }

    .section {
        margin: 0 auto;
        max-width: 720px;

        .inner {
            padding: 0 40px;
        }

        & + .section:before {
            content: '';
            background-color: #ddd;
            display: block;
            height: 3px;
            margin: 80px auto;
            width: 80px
        }
    }

    .section--headline {
        padding: 80px 0;

        & + .section:before {
            margin: 0 auto 80px;
        }
    }

    .text--primary {
        p {
            font-size: 30px;
            font-weight: 700;
            line-height: 35px;
        }
    }

    .text--secondary {
        p {
            color: #555;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 0;

            & + p {
                margin-top: 20px;
            }

            & + ol,
            & + ul {
                margin: 80px 0;

                .list--header {
                    margin-bottom: 20px;
                }

                .list--footer {
                    color: #999;
                    font-size: 12px;
                    line-height: 16px;
                    margin-top: 10px;
                }
            }
        }

        ul, ol {
            li {
                font-size: 16px;
            }
        }
    }

    .text--tbc {
        p {
            color: #ddd;
            font-size: 30px;
        }
    }
}