.page--work {
    &--flow {
        .accent-clr--primary {
            color: #1C6A96;
        }
    }

    .section {
        margin: 0 auto;
        max-width: 960px;

        h6 {
            color: #bbb;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        & + .section:before {
            content: '';
            background-color: #ddd;
            display: block;
            height: 3px;
            margin: 0 auto;
            width: 80px
        }
    }

    .section_inner {
        padding: 40px;
    }

    .section--work_logos {
        img {
            height: 100px;
            width: auto;
        }
    }

    .text--primary {
        p {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: -1px;
            line-height: 35px;
        }
    }
}