<header class="header header--has-cover" role="banner">
    <a class="brand" ui-sref="home"></a>
    <div class="cover" style="background-image: url('/img/work/flow/cover.jpg');"></div>
    <div class="text">
        <p class="title">Flow</p>
    </div>
</header>

<div class="section section--work_about">
  <div class="section_inner">
    <p class="work_text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna <a class="accent-clr--primary">aliqua</a>.
    </p>
  </div>
</div>

<div class="section section--work_logos">
    <div class="section_inner">
        <h6>Primary</h6>
        <img src="http://placehold.it/350x150">
    </div>

    <div class="section_inner">
        <h6>Alternate</h6>
        <img src="http://placehold.it/350x150">
    </div>

    <div class="section_inner">
        <h6>Icon</h6>
        <img src="http://placehold.it/350x150">
    </div>
</div>