<header class="header header--has-cover" role="banner">
    <a class="brand" ui-sref="home"></a>
    <div class="cover" style="background-image: url('/img/work/flow/cover.jpg');"></div>
    <div class="text">
        <p class="primary">Flow</p>
        <p class="secondary">BlackBerry</p>
    </div>
</header>

<div class="section">
    <div class="section_inner">
        <div class="text--primary">
            <p>A corporate solution packaged as a high-performance database and business process management and modelling (BPM) platform that allows for the managing and analysis of complex processes and workflows.</p>
        </div>

        <p class="text--secondary"></p>
    </div>
</div>

<div class="section section--work_logos">
    <div class="section_inner">
        <h6>Primary</h6>
        <img src="http://placehold.it/350x150">
    </div>

    <div class="section_inner">
        <h6>Alternate</h6>
        <img src="http://placehold.it/350x150">
    </div>

    <div class="section_inner">
        <h6>Icon</h6>
        <img src="http://placehold.it/350x150">
    </div>
</div>