<div class="page--work--flow">
    <header class="header header--has-cover" role="banner">
        <a class="brand" ui-sref="home"></a>
        <div class="cover" style="background-image: url('/img/work/flow/cover.jpg');"></div>
        <div class="text">
            <p class="primary">Flow</p>
            <p class="secondary">BlackBerry</p>
        </div>
    </header>

    <div class="section--toc section">
        <div class="inner">
            <ol class="list">
                <li><a href="#s-backStory">Back Story</a></li>
                <li><a>Responsibilities</a></li>
                <li><a>Design</a></li>
            </ol>
        </div>
    </div>


    <header class="header--work" id="s-backStory">
        <div class="inner">
            <div class="row">
                <p class="title pull-left">Back Story</p>
                <a class="share pull-right"><i class="fa fa-share"></i></a>
            </div>
        </div>
    </header>

    <div class="section--headline section">
        <div class="inner">
            <div class="text--primary">
                <p>Flow is a corporate solution that serves as a <span class="accent-clr--primary">high-performance database</span> and <span class="accent-clr--primary">business process management and modelling</span> (BPM) platform that allows for the managing and analysis of complex data, processes, and workflows.</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="inner">
            <div class="text--secondary">
                <p><strong>It wasn't always called Flow</strong>; in fact, it used to be called <em>Cater</em>.</p>

                <p>Cater has been around since BlackBerry's humble beginnings with 10 years of development before finally launching in 2001. And what began as a small project has grown into something much, much bigger.</p>

                <p>The platform was conceived to address BlackBerry's need for a business process management and modelling platform &mdash; a place where processes and workflows could be designed to allow data to be <em>intelligently stored, securely accessed, and easily audited</em>. A place where workflows could be analyzed to <em>eliminate inefficiencies</em>, and where reports and dashboards could be created to <em>identify trends and measure performance</em>.</p>

                <p>The platform is a corporate solution that was developed in-house and provides a <em>zero cost data management and reporting tool</em> to the employees of BlackBerry.</p>


                <ol class="list">
                    <p class="list--header">The idea is simple.</p>

                    <li>
                        <strong>Within the platform, you have applications.</strong> Each application is siloed and independent of other applications. Links, however, can be created to connect related or sub-applications.
                    </li>
                    <li>
                        <strong>Within each application, you have records.</strong> A record contains data pertaining to the nature and purpose of the application.
                    </li>
                    <li>
                        <strong>Within each application, you have a summarized view of records.</strong> The summary lists out the application's records (usually in a table) and can have complex queries performed on it to filter and sort the dataset.
                    </li>
                    <li>
                        <strong>Within each application, you can generate reports and dashboards.</strong> A report or dashboard can contain tables and a wide assortment of graphs pertaining to the application's data.
                    </li>
                    <li>
                        <strong>You can create and edit records.</strong> The creation/edit form for records is generated based on the application's form specifications. Forms can be designed with grouped fields under sections, a multitude of field types, dynamic dropdowns, file and link attachments, status-based rules that affect whether a field is visible or disabled, and more.
                    </li>
                    <li>
                        <strong>You can approve/reject records.</strong> For applications that are configured with an approval process, decisions can be made by the appropriate stakeholders to progress a record through its workflow.
                    </li>
                </ol>

                <p>It started with one.</p>

                <p>Cater was constructed to serve and, well, <em>cater</em> to the needs of a single application.</p>

                <p>The platform spread like wildfire when it was first launched and this led many groups within BlackBerry to adopt Cater as their data management solution. Over time, this one application became two, then ten, and then a hundred. At its peak, Cater was home to over 400 unique and actively used applications.</p>

                <p>While this was great in terms of platform's growth, it also led to a number of engineering oversights that could not be attended to due to the small team size and furious demand.</p>

                <p>Until now.</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="inner">
            <div class="text--secondary">
                <p><strong>Flow was born out of the need to revitalize and modernize Cater.</strong></p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="inner">
            <div class="text--tbc u-text-center">
                <p>To be continued...</p>
            </div>
        </div>
    </div>
</div>