---
layout: default
title: Work
---

<article>
  <header>
    <h1>Hi, my name is Karel Vuong.</h1>
  </header>

  <article>
    <p>I am a designer and developer currently working with the amazing team at BlackBerry in Waterloo. </p>
  </article>

</article>

<ul class="list works">
{% assign sorted_pages = site.categories.work | sort:"tags" %}
{% for post in sorted_pages %}
  <li>
    <span>{{ post.tags }}</span>
    <a href="{{ post.url }}" class="{{ post.class }}">{{ post.title }}</a>
  </li>
{% endfor %}
{% for work in site.data.work %}
  <li>
    <span>{{ work.type }}</span>
    <a href="{{ work.url-1 }}">{{ work.name }}</a>
  </li>
{% endfor %}
</ul>