.footer {
    background-color: #212121;
    border-top: 1px solid #525252;
    color: #fff;

    .inner {
        margin: 0 auto;
        padding: 120px 40px;
        max-width: $page-width--max;
        text-align: center;
    }

    ul {}

    li {
        display: inline-block;
    }

    p {
        font-size: 30px;
        line-height: 1.2125;
        margin-bottom: 40px;
    }

    .footer_btn {
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 4px;
        opacity: 0.90;
        padding: 4px 10px;

        @include transition(all ease-in-out .15s);

        &:hover {
            opacity: 1.0;
            text-decoration: none;
        }

        &.dribbble  { background-color: #EA4C89; }
        &.github    { background-color: #BD2C00; }
        &.linkedin  { background-color: #0976B4; }
        &.quora     { background-color: #A82400; }
        &.twitter   { background-color: #55ACEE; }
    }

    &--fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 3;
    }

    @media (max-width: $breakpoint-md-max) {
        position: relative;
    }
}