.header {
    background-color: rgba(#fff, 0.9);
    box-shadow: 0 0 1px rgba(#000, .2);
    height: 50px;
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    z-index: 3;

    .header_inner {
        margin: 0 auto;
        max-width: $page-width--max;
    }

    .logo--header {
        height: 30px;
        width: 30px;

        g {}
    }

    .links {
        float: right;

        a {
            color: #000;
            display: inline-block;
            font-size: 12px;
            font-weight: 700;
            // letter-spacing: 1px;
            line-height: 30px;
            margin-left: 25px;
            opacity: 0.4;
            // text-transform: uppercase;

            &:hover {
                opacity: 0.6;
                text-decoration: none;
            }

            &.active {
                opacity: 1;
            }
        }
    }

    .cover {
        background-color: #777;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
    }

    .text {
        margin-top: 20px;
        position: relative;
        z-index: 1;

        p {
            margin-bottom: 0;
        }

        .primary {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        .secondary {
            color: rgba(#fff, 0.6);
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }

    &--has-cover {
        .brand { background-image: url("../img/logo-white.png"); }

        &--dark { .brand { background-image: url("../img/logo-black.png"); } }
    }

    @media (max-width: $breakpoint-md-max) {
        position: relative;
    }
}

.header--work {
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    background-color: #fff;
    height: 40px;
    z-index: 3;

    .inner {
        margin: 0 auto;
        max-width: 720px;
        padding: 0 40px;
    }

    .row {
        border-bottom: 1px solid rgba(#000, 0.1);
    }

    .title {
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 40px;
        margin: 0;
        text-transform: uppercase;
    }

    .share {
        color: #bbb;
        font-size: 12px;
        line-height: 40px;
    }
}
