.header {
    padding: 120px 40px;
    position: relative;
    text-align: center;

    .brand {
        background: {
            image: url("../img/logo-black.png");
            position: center center;
            repeat: no-repeat;
            size: 45px 84px;
        }

        display: inline-block;
        height: 84px;
        position: relative;
        width: 45px;
        z-index: 1;

        @include transition(all ease-in-out .3613s);

        &:hover {
            transform: scale(1.1);
        }
    }

    .links {
        margin-top: 20px;

        a {
            color: #000;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 2px;
            margin: 0 15px;
            opacity: 0.4;
            text-transform: uppercase;

            &:hover {
                opacity: 1;
            }

            &.active {
                color: $clr-red;
                opacity: 1;
            }
        }
    }

    .cover {
        background-color: #777;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
    }

    .text {
        margin-top: 20px;
        position: relative;
        z-index: 1;

        p {
            margin-bottom: 0;
        }

        .primary {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 4px;
            text-transform: uppercase;
        }

        .secondary {
            color: rgba(#fff, 0.6);
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }

    &--has-cover {
        .brand { background-image: url("../img/logo-white.png"); }

        &--dark { .brand { background-image: url("../img/logo-black.png"); } }
    }
}

.header--work {
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    background-color: #fff;
    height: 40px;
    z-index: 3;

    .inner {
        margin: 0 auto;
        max-width: 720px;
        padding: 0 40px;
    }

    .row {
        border-bottom: 1px solid rgba(#000, 0.1);
    }

    .title {
        font-size: 11px;
        font-weight: 700;
        letter-spacing: 4px;
        line-height: 40px;
        margin: 0;
        text-transform: uppercase;
    }

    .share {
        color: #bbb;
        font-size: 12px;
        line-height: 40px;
    }
}
