/* -------------------------------------------
 * VARIABLES
 * ---------------------------------------- */
$bg-gray: #F2F2F2;

$font-monospace: Consolas, Courier, monospace;
$font-size-h1: 2.5rem;
$font-size-h2: 2.0rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.4rem;
$font-size-all: 1.2rem;

// Susy
$total-columns  : 12;
$column-width   : 6.0em;
$gutter-width   : 1.0em;
$grid-padding   : $gutter-width;

$break          : 12;

/* -------------------------------------------
 * MIXINS
 * ---------------------------------------- */
@mixin date {
  color: #aaa;
  font-family: $font-monospace;
  text-transform: uppercase;
}