<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="description" content="">

    <!-- OPEN GRAPH -->
    <meta property="og:title" content="{{ site.author }}">
    <meta property="og:url" content="http://karel.ca">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:image" content="fb.png">
    <meta property="og:type" content="blog">

    <!-- CSS -->
    <link href="http://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='/assets/stylesheets/main.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    {% include header.html %}

    <div class="main">
      {% include sidebar_left.html %}

      <div class="content" role="main">
        <div class="inner">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
