<div class="text wrapper text-justify">
    <div class="metadata text-center">
        <h1>BlackBerry Is Here To Stay</h1>
        <p class="date">{{1405051200000|date:'fullDate'}}</p>
    </div>

    <p class="p1 text-center">What was once thought to be a dying company is rising back from the ashes.</p>

    <p>When people hear BlackBerry, the typical first thought is, <em>"Wait what? BlackBerry is still around?"</em>. These days it seems as though press, tech sites, and news outlets are perpetuating the downfall of BlackBerry and while it may have been 'cool' to jump on this bandwagon of poking fun at BlackBerry's financial troubles before, <strong>it has run its course</strong>.</p>

    <p>Though, this ridicule was not unwarranted. The company was once king in the world of communications and smartphones and has since been overthrown by the likes of Apple's iOS and Google's Android. There are numerous reasons for this, some more controversial than others, but I think it can be agreed upon that one of the reasons is that BlackBerry became <em>complacent</em>.</p>

    <p>BlackBerry idled when they were at the peak of their dominance over the mobile communications space and innovation slowed. This paved the way for competitors to bring forth newer, better, more innovative technologies into the world and BlackBerry was dethroned.</p>

    <p>In an industry where constructs and mechanisms are continually reworked and reinvented, where nothing ever stays constant and stagnant, this overcomplacency meant it failed to see the threat posed by the superpowers that would be Apple and Google.</p>

    <p class="p1 text-center">
        2013 was not BlackBerry's year.
    </p>

    <p>While BlackBerry's troubles began long before, this year was the year when news providers began to actively report the company's hardships to their audiences. What began with the reporting of losses and job cuts lead to frequent announcements of negative outlooks of the company's future and journalistic objectivity shifted into a tone of ridicule and mockery of the communications giant.

    <blockquote>
        <p class="p1">
            Even NATO can't save BlackBerry now.
        </p>
    </blockquote>

    <blockquote>
        <p class="p1">
            T-Mobile discovers no one wants a BlackBerry anymore. No one is surprised, right?
        </p>
    </blockquote>

    <blockquote>
        <p class="p1">
            Don’t look now, but BlackBerry — you know, the butt of most cell phone jokes — is mounting an impressive comeback.
        </p>
    </blockquote>

    <p>Of course, controversial messages make for great discussion and conversation but it seems that these messages have been ingrained into our minds and many of us have been left with these bitter words at the tip of our tongue: <em>"BlackBerry is dead."</em></p>

    <p class="p1 text-center">
        But it's not true.
    </p>

    <p>What is often missed is that as the world reported on the performance of BlackBerry as a smartphone maker, or a mobile device maker, or a handset maker, <strong>they failed to report on the performance of its other products</strong> as a telecommunications company, a maker of secure and high reliability software for industrial applications, and a maker of hardware products used by various government agencies, car makers, and industrial plants throughout the world.</p>

    <p class="p1 text-center">
        Products that were and are very much alive and thriving throughout all of the chaos.
    </p>

    <h2>BES: Mobile Device Management (MDM)</h2>

    <p>BlackBerry has offered BlackBerry Enterprise Services, an enterprise mobilitiy management and mobile device management (MDM) platform for over 14 years. While it began with the regulated management of BlackBerry devices, it has since expanded to encompass other platforms to accomodate the bring your own device (BYOD) movement that began as iOS and Android overtook BlackBerry as leading platforms in mobile communications.</p>

    <ul class="list">
         <p>BES10 Statistics:</p>

         <li>Has more customers than three closest competitors combined</li>
         <li>14 years of mobility management</li>
         <li>More than 30,000 BES 10 servers installed globally</li>
         <li>Used by 16 of the G20 governments</li>
         <li>More security certifications from government agencies than any other vendor</li>
         <li>Only solution with "Full Operational Capability" on the U.S. Department of Defense networks</li>
    </ul>

    <p>In 2012, BlackBerry released BES 10, the next evolution of their comprehensive EMM and MDM solution. It was at this point that BlackBerry gave iOS and Android the "head nod" of acceptance on the mobile platform stage and the BYOD movement.</p>

    <p>Unfortunately, BES10 was not without its flaws. To this day, devices running BlackBerry 6/7 - the company's legacy OS version, are not supported on BES10. Instead, both BES5 and BES10 must be run concurrently within companies that have need to accommodate these devices.</p>

    <p>In February of 2014, BlackBerry announced BES12, a new enterprise mobility solution that unifies BES10 and BES5 into a singular platform. Even more powerful than its predecessors, the new BES12 platform will unite all of BlackBerry's existing BES customers to seamlessly move forward towards the future of EMM and MDM management.</p>

    <ul class="list">
        <p>BES12 Capabilities:</p>

        <li>Backwards compatible and future proof</li>
        <li>Enhanced multi-platform support</li>
        <li>Connects cloud and mobile for greater flexibility and scalability</li>
    </ul>

    <p>BlackBerry has also announced a new Enterprise Application Ecosystem to broaden and strengthen its EMM arsenal.</p>

    <h2>QNX Software Systems</h2>

    <p>Often overlooked, BlackBerry's QNX Software Systems which was acquired in 2010 from Harman International has long been a very strong and active force in the company's survival and rebirth. </p>

    <p><strong>Talk about dominance in auto</strong></p>
    <p><strong>Talk about Project Ion and its future of IoT</strong></p>
    <p><strong>Add links to references at the bottom where relevant</strong></p>

    <div class="references">
        <ol class="list">
            <li>
                BlackBerry First Quarter Fiscal 2015 Results
                <a href="http://press.blackberry.com/content/dam/bbCompany/Desktop/Global/PDF/Investors/Documents/2015/Q1_FY2015_Press_Release.pdf">http://press.blackberry.com/content/dam/bbCompany/Desktop/Global/PDF/Investors/Documents/2015/Q1_FY2015_Press_Release.pdf</a>
            </li>
            <li>
                BlackBerry Enterprise Service 10
                <a href="http://us.blackberry.com/business/products-services/bes-10.html">http://us.blackberry.com/business/products-services/bes-10.html</a>
            </li>
            <li>
                BlackBerry Introduces BES12 as the New Foundation for Enterprise Mobility
                <a href="http://press.blackberry.com/press/2014/blackberry-introduces-bes12-as-the-new-foundation-for-enterprise.html">http://press.blackberry.com/press/2014/blackberry-introduces-bes12-as-the-new-foundation-for-enterprise.html</a>
            </li>
            <li>
                BlackBerry - The Internet of Things Is Just the Beginning:
                <a href="el.blackberry.com/project-ion">el.blackberry.com/project-ion</a>
            </li>
        </ol>
    </div>
</div>